<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<a class="navbar-brand" [routerLink]="['/']" rel="tag">:: BINS ::</a>
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/portfolio']" rel="tag">Portfolio</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/aplicativos']" rel="tag">Aplicativos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/ferramentas']" rel="tag">Ferramentas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/videos']" rel="tag">Videos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/blog']" rel="tag">Blog</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" [routerLink]="['/contato']" rel="tag">Contato</a>
				</li>
			</ul>
		</div>
	</nav>
