<footer class="pt-4 my-md-5 pt-md-5 border-top">
			<div class="row">
				<div class="col-12 col-md">
					<small class="d-block mb-3 text-muted">© 2017-2020</small>
				</div>
				<div class="col-12 col-md">
					<h5>Portfolio</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" [routerLink]="['/portfolio']" rel="tag">Web</a></li>
						<li><a class="text-muted" [routerLink]="['/portfolio']" rel="tag">Sistemas</a></li>
						<li><a class="text-muted" [routerLink]="['/ferramentas']" rel="tag">Ferramentas</a></li>
					</ul>
				</div>
				<div class="col-12 col-md">
					<h5>Aplicativos</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" [routerLink]="['/aplicativos']" rel="tag">Android/IOS</a></li>
						<li><a class="text-muted" [routerLink]="['/aplicativos']" rel="tag">PWA</a></li>
					</ul>
				</div>
				<div class="col-12 col-md">
					<h5>Sobre</h5>
					<ul class="list-unstyled text-small">
						<li><a class="text-muted" [routerLink]="['/curriculo']" rel="tag">Perfil</a></li>
						<li><a class="text-muted" [routerLink]="['/servicos']" rel="tag">Serviços</a></li>
						<li><a class="text-muted" [routerLink]="['/contato']" rel="tag">Contato</a></li>
					</ul>
				</div>
			</div>
		</footer>
